.build-icon {
    width: 160px;
    height: 150px;
    background-image: url(../image/build01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 10px;

    @media(max-width:768px) {
        display: none;
    }
}

.build-icon:hover {
    width: 210px;
    height: 200px;
    background-image: url(../image/build.png);
}