.card-img-01 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(../../image/card01\(4-3\).jpg);
    transition: 0.5s ease;
}

.card-img-02 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(../../image/card02\(4-3\).jpg);
    transition: 0.5s ease;
}

.card-img-03 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(../../image/card03\(4-3\).jpg);
    transition: 0.5s ease;
}

.card-hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s ease;
}

.card-hover:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.097);
    transition: box-shadow 0.5s ease;
}

.card-hover:hover {
    .card-img-01 {
        background-image: url(../../image/card01\(4-3\)_hover.jpg);
    }

    .card-img-02 {
        background-image: url(../../image/card02\(4-3\)_hover.jpg);
    }

    .card-img-03 {
        background-image: url(../../image/card03\(4-3\)_hover.jpg);
    }
}

.card-hover:hover .card-link {
    color: rgb(0, 149, 255);
    transition: 0.5s ease;
}